<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <title></title>
</head>
<body>
<wicket:panel>
    My Account |
    <a wicket:id="storeLink" href="#"><span wicket:id="storeLinkLabel">My Stores</span></a> |
    Buy |
    <a wicket:id="sellLink" href="#"><span wicket:id="sellLinkLabel">Sell</span></a> |
    <a wicket:id="logoutLink" href="#"><span wicket:id="logoutLinkLabel">Logout</span></a>
</wicket:panel>
</body>
</html>